<div class="container text-center">
    <h1 class="display-4">Welcome to Fast Food Chain</h1>
    <p>Website still in progress: Most of the design is expected to be coded.</p>

    <h2 class="mt-4">Featured Fast Food Chains</h2>
    <div class="row g-4">
        <!-- ADDED 'g-4' FOR BETTER SPACING -->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img src="https://placehold.co/300x200" class="card-img-top" alt="Fast Food 1">
                <div class="card-body">
                    <h5 class="card-title">Fast Food 1</h5>
                    <p class="card-text">Description of Fast Food 1.</p>
                    <a href="#" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img src="https://placehold.co/300x200" class="card-img-top" alt="Fast Food 2">
                <div class="card-body">
                    <h5 class="card-title">Fast Food 2</h5>
                    <p class="card-text">Description of Fast Food 2.</p>
                    <a href="#" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img src="https://placehold.co/300x200" class="card-img-top" alt="Fast Food 3">
                <div class="card-body">
                    <h5 class="card-title">Fast Food 3</h5>
                    <p class="card-text">Description of Fast Food 3.</p>
                    <a href="#" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img src="https://placehold.co/300x200" class="card-img-top" alt="Fast Food 4">
                <div class="card-body">
                    <h5 class="card-title">Fast Food 4</h5>
                    <p class="card-text">Description of Fast Food 4.</p>
                    <a href="#" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img src="https://placehold.co/300x200" class="card-img-top" alt="Fast Food 5">
                <div class="card-body">
                    <h5 class="card-title">Fast Food 5</h5>
                    <p class="card-text">Description of Fast Food 5.</p>
                    <a href="#" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img src="https://placehold.co/300x200" class="card-img-top" alt="Fast Food 6">
                <div class="card-body">
                    <h5 class="card-title">Fast Food 6</h5>
                    <p class="card-text">Description of Fast Food 6.</p>
                    <a href="#" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img src="https://placehold.co/300x200" class="card-img-top" alt="Fast Food 7">
                <div class="card-body">
                    <h5 class="card-title">Fast Food 7</h5>
                    <p class="card-text">Description of Fast Food 7.</p>
                    <a href="#" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img src="https://placehold.co/300x200" class="card-img-top" alt="Fast Food 8">
                <div class="card-body">
                    <h5 class="card-title">Fast Food 8</h5>
                    <p class="card-text">Description of Fast Food 8.</p>
                    <a href="#" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img src="https://placehold.co/300x200" class="card-img-top" alt="Fast Food 9">
                <div class="card-body">
                    <h5 class="card-title">Fast Food 9</h5>
                    <p class="card-text">Description of Fast Food 9.</p>
                    <a href="#" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <!-- Repeat for other fast food cards -->
    </div>
</div>
<div class="container text-center pb-5">  <!-- Added pb-5 --></div>

